h1 {
  font-family: "Times New Roman", Times, Serif;
  background-color: #9F4700;
  width: 350px;
  height: 45px;
  color: white;
}

h2 {
  font-family: "Times New Roman", Times, Serif;
  background-color: #733400;
  width: 350px;
  height: 35px;
  color: white;
}

.nav {
  color: #582800
}

.hp {
  color: #cc5c00
}

.ph {
  color: #9F4700
}
